h1{
    text-align: center;
}
h2{
    color: goldenrod;
    text-align: center;
}

h3{
    color: purple;
    text-align: center;
}
form{
    text-align:center;
}
p{
    color: hotpink;
    text-align:center;
}
figure{
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
}
button{
    background: none;
    color: pink;
    border: 2px solid;
}
button:hover{
    border-color: springgreen;
    color: springgreen;
}
#aboutMe{
    border: 2px solid white;
}
#hobbiesInterests{
    border: 2px solid white;
}
#froggy{
    border: 2px solid white;
}
#subscribeNewsletter{
    border: 3px solid black;

}
#myContact{
    border: 4px solid black;
    justify-content: space-between;
}
#main{
    font-family: cursive;
}
