body {
  margin: 0px;
  font-family: "Segoe UI", Arial, sans-serif;
}
@font-face {
  font-family: "edgeicons";
  src: url("edge-icons-Regular.eot");
  src: url("edge-icons-Regular.eot?#iefix") format("embedded-opentype"),
    url("edge-icons-Regular.woff") format("woff"),
    url("edge-icons-Regular.ttf") format("truetype");
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 375;
  height: 750px;
  border-radius: 40px;
  margin: 50px;
  background-color: #1da1f2;
}
